.card__wrapper {
   border: 1px solid var(--color-grey100);
   border-radius: var(--borderRadius-large);
   display: flex;
   gap: 24px;
   padding: 16px;
   box-shadow: var(--shadow-XSmall);
}


.card__image img {
   width: 100%;
   border-radius: var(--borderRadius-XSmall);
   height: 90px;
   overflow: hidden;
   width: 90px;
}

.card__content {
   display: flex;
   flex-direction: column;
   flex: 1 1 auto;
   gap: 20px;
}

.card__title {
   color: var(--color-grey700);
   font-weight: var(--fontWeight-semiBold);
}

.card__infos {
   /* display: grid;
   grid-template-columns: 7fr 1fr; */
   display: flex;
   gap: 40px;
   color: var(--color-grey500);
   margin-bottom: 0;
}

.card__actions {
   display: flex;
   gap: 20px;
}

.card__time,
.card__date,
.card__price {
   align-items: center;
   color: var(--color-grey700);
   font-size: var(--fontSize-headingH6);
   font-weight: var(--fontWeight-semiBold);
   position: relative;
   display: flex;
}

.card__time::before,
.card__date::before {
   content: "";
   position: absolute;
   left: -28px;
   width: 20px;
   height: 20px;
}

.card__time::before {
   background: url("../../assets/images/i-clock300.svg") no-repeat;
}

.card__date::before {
   background: url("../../assets/images/i-calendar300.svg") no-repeat;
}

.card__col1,
.card__col2 {
   display: flex;
   flex-direction: column;
   gap: 8px;


}

.card__col1 {
   flex: 1 1 auto;
}

.card__col2 {
   flex: 0 0 60px;
}