.card {
   border: 1px solid var(--color-grey100);
   border-radius: var(--borderRadius-large);
   box-shadow: var(--shadow-XSmall);
}

.card__horizontal {
   display: flex;
   gap: 30px;
   padding: 20px;
}

.card__horizontal .card__image {
   flex: 0 0 120px;
}

.card__horizontal .card__image img {
   width: 100%;
   aspect-ratio: 1 / 1;
   border-radius: var(--borderRadius-medium);
}

.card__horizontal .content {
   flex: 1 1 auto;
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-end;
   align-items: center;
   gap: 16px;
}

.content h5 {
   font-weight: var(--fontWeight-semiBold);
}

.content p {
   color: var(--color-grey400);
}

.card__time {
   color: var(--color-secondaryBase);
   font-weight: var(--fontWeight-medium);
   font-size: var(--fontSize-headingH5);
   display: flex;
   gap: 8px;

}

.content__text {
   display: flex;
   flex-direction: column;
   gap: 4px;
   flex: 1 1 auto;
}

.card__time_icon {
   width: 20px;
}