.f-modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--color-mono1);
   z-index: 999;
   transition: opacity 0.15s ease-in-out;
   pointer-events: none;
   opacity: 0;
   overflow-y: auto;
}

.show {
   opacity: 1;
   pointer-events: visible;
}
