.feature__discord {
   background-color: var(--color-grey50);
   padding: 80px 0;
}

.feature__discord .container {
   display: flex;
   flex-direction: column;
   gap: 30px;
   align-items: center;
}

.text__container {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.image__container {
   width: 100%;
}

.text {
   font-size: var(--fontSize-bodyXLarge);
   line-height: var(--lineHeight-large);
}

@media (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media (min-width: 992px) {
   .feature__discord .container {
      flex-direction: row;
   }
}

@media (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}