.header {}

.header__container {
   align-items: center;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
}

.navbar__logo {
   display: flex;
}

.navbar__menu {
   display: flex;
   gap: 50px;
}

.navbar__menu a {
   text-decoration: none;
   color: var(--color-grey500);
}

.navbar__menu a:hover {
   color: var(--color-primaryBase);
}

.navbar__links {
   display: flex;
   gap: 12px;
   align-items: center;
}

.navbar__links a {
   text-decoration: none;
   color: var(--color-grey900);
}

.navbar__links a:hover {
   color: var(--color-primaryBase);
}

.navbar__icon {
   display: flex;
   height: 40px;
   text-indent: -9999px;
   width: 40px;
   background: url(../../assets/images/i-heart900.svg) no-repeat center;
}

.navbar__icon:hover {
   background-image: url(../../assets/images/i-heart-primary.svg);
}