.card__wrapper {
   align-items: flex-end;
   aspect-ratio: 1/ 1;
   background-position: center;
   background-size: cover;
   border-radius: var(--borderRadius-large);
   display: flex;
   justify-content: center;
   padding: 12px;
   text-decoration: none;
   transition: all .15s ease-in-out;
}

.card__wrapper:hover {
   background-size: 102% 102%;
   background-position: center;
   box-shadow: var(--shadow-large);
}

.card__wrapper:hover .card__name {
   color: var(--color-primaryBase);
}

.card__wrapper img {
   width: 100%;
}

.card__info {
   background-color: var(--color-mono1);
   border-radius: var(--borderRadius-XSmall);
   padding: 12px 16px;
   box-shadow: var(--shadow-XSmall);
   flex-grow: 1;
   text-align: center;
}

.card__name {
   transition: all .15s ease-in-out;
   color: var(--color-grey900);
   font-weight: var(--fontWeight-bold);
}