.footer {
   background: var(--color-grey900);
   color: var(--color-mono1);

   flex-shrink: 0;
}

.footer a {
   color: var(--color-grey400);
   text-decoration: none;
}

.footer a:hover {
   color: var(--color-grey300);
}

.footer__social {
   display: flex;
   gap: 40px;
}

.footer__social a {
   align-items: flex-end;
   display: flex;
   justify-content: center;
   gap: 8px;
}

.footer__column1 {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.footer__column1 p {
   font-size: var(--fontSize-bodyXLarge);
}

.footer__title {
   color: var(--color-mono1);
}

.footer__content {
   padding: 70px 0;
   display: flex;
   flex-direction: column;
   gap: 20px;
   justify-content: space-between;
}

.footer__divider {
   border-color: var(--color-grey800);
   margin: 0;
}

.footer__footer {
   padding: 20px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   font-size: var(--fontSize-bodyMedium);
   gap: 20px;
}

.footer__legal__links {
   display: flex;
   gap: 40px;
}

@media (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media (min-width: 992px) {
   .footer__footer {
      padding: 20px 0;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
   }

   .footer__content {
      flex-direction: row;
   }
}

@media (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}