.header {
   &__container {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
   }

   &__logo {
      display: flex;
   }
   .navbar-toggler {
      padding: 0.5rem 0.6rem;
   }
   .navbar-collapse {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 0;
      overflow: hidden;
      transition: height 0.35s ease;
      &.show {
         height: 200px;
         margin-top: 2rem;
         margin-bottom: 1rem;
      }
   }
}

.navbar {
   &__menu {
      gap: 1rem;
      a {
         text-decoration: none;
         color: $gray-600;
         &:hover {
            color: $primary;
         }
      }
   }
   &__links {
      gap: 1rem;
      a {
         text-decoration: none;
         color: $gray-900;
         &:hover {
            color: $primary;
         }
      }
   }
   &__favorites {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      svg {
         height: 20px;
         width: 20px;
      }
   }
}

@media (min-width: 992px) {
   .header {
      &__container {
         padding-top: 1rem;
         padding-bottom: 1rem;
      }
      .navbar-collapse {
         height: auto;
         overflow: auto;
      }
   }
   .navbar {
      &__menu {
         gap: 2.5rem;
      }
      &__favorites {
         align-items: center;
         display: flex;
         i:hover {
            color: $primary;
         }
      }
      .navbar-collapse {
         flex-direction: row;
         align-items: flex-start;
         height: auto;
         overflow: auto;
         transition: none;
         &.show {
            height: auto;
            margin: 0;
         }
      }
   }
}
